/* body */

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 16pt;;
}

main {
    margin-left: 150px;
    margin-right: 150px;
}

/* Header & Nav */

header {
    background-color: #323033;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0%;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 150px;
    padding-top: 36px;
}

nav a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
}

nav a:hover{
    color: white;
    font-weight: 600;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Typograpghy */

.logo {
    color: white;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    font-size: 44pt;
    position: fixed;
    left: 70px;;
}

.section__title {
    font-size: 60pt;
    margin-top: 7%;
    position:static;
}

.section__subtitle{
    font-size: 25pt;
    margin-bottom:3%;
}

.section__title2 {
    font-weight: bold;
    margin-top: 15%;
}

.about-me__body{
    margin-right: 400px;
    margin-top: 30px;
}

.section__subtitle2 {
    margin-top:30px;
    margin-right: 20%;
    text-align: center;
 }

.section__subtitle2 ul{
     display: inline-block;
 }

.section__subtitle2 ul li{
     text-align:left
 }

.section__title3{
    margin-top:20%;
    font-weight: bold;
}

li {
    padding:10px;
}

/* Pictures */

.intro__img{
    width:600px;
    height: auto;
    float: left;
    margin-right: 50px;
}

.portfolio{
    margin-top:3%;
    margin-bottom: 10%;
    float: left;
    word-spacing: -13px;;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #323033;
    color: white;
    text-align: center;
    height: 100px;
}

.footer2{
    margin-top: 15px;
}

.footer3{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
}

footer a:hover{
    color: white;
    font-weight: 600;
}
